
.btn {
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;

    display: flex;
    justify-content: space-between;

  }
  .float-right{
    margin-left: 10px;
    margin-right: 10px;
  } 
  .hr{
    width: 200px;
    height: 20px;
    background: black;
   
  }
  .boys{
    background-color: black;
  }
