
.btn {
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

  }
  .float-right{
    margin-left: 10px;
    margin-right: 10px;

  } 
  .bt-eliminar{
    margin-left: 10px;
    margin-right: 10px;
    width: 100px;
    height: 40px;
  } 

  .hr{
    width: 200px;
    height: 40px;
  }

  .Tex-label{
    text-align: right;
  }
  
  .mt3{
    text-align: center;
  }
